<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StackNeo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3989C9D61C897A6D001C865D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3989C9EC1C897A6D001C865D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3989C9F71C897A6D001C865D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
